.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:cover;
    min-height:100vh;
    background-image: url('../../assets/images/Light_Vector.gif');
  
    img {
        width: 55rem;
        height: auto;
        margin: auto;
    }

    .custom-button {
        position: absolute;
        bottom: calc(50% - 20rem); /* Position 100px above the vertical midpoint */
        background-color: #000000;
        color: #fcdf2b;
        border: 10px solid white; /* Add a white border with a 2px width */
        border-radius: 80px;
        border-color: #fcdf2b;
        padding: 20px 20px; /* Adjust padding */
        line-height: 1; /* Reset line-height to maintain vertical centering */
        font-size: 20px;
        cursor: pointer;
        font-family: 'Star Wars', sans-serif;
        font-weight:normal;
        
        &:hover {
            background-color: #e5e81c; /* Change the background color on hover */
            color: black; /* Change the text color on hover */
            border-color: black; /* Change the border color on hover */
        }
    
    }
}