/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/star-wars');

body {
    margin: 1px;
    padding: 0;
    overflow: hidden;  /*Prevent scrollbars from appearing */
  }